.about-section {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background: black;
    color: aliceblue;
    width: 900px;
    border-radius: 10px;
}

.about-section img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    margin-bottom: 10px;
}
.logo{
    color: red;
    background-image: ;
    text-align: center;
    text-decoration: underline;
}
.logo:hover{
    background-color: black;
    color: aliceblue;
}
nav{
    align-items: center;
    padding: 10px;
    background: #333;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}
.nav-links li{
position: relative;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.nav-links li a :hover{
    background: #444;
}
body{
    /* background-color: blue; */
    background-image: url(./city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
  
    color: red;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
}

.footer p {
    margin: 5px 0;
}

.footer .social-links a {
    color: red;
    font-weight: bold;
}
