.logo{
    color: red;
    background-image: ;
    text-align: center;
    text-decoration: underline;
}
.logo:hover{
    background-color: black;
    color: aliceblue;
}
nav{
    align-items: center;
    padding: 10px;
    background: #333;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}
.nav-links li{
position: relative;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.nav-links li a :hover{
    background: #444;
}
body{
    /* background-color: blue; */
    background-image: url(./city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-section {
    padding: 40px;
    background: black;
    text-align: center;
}
.contact-section h2{
    color: azure;
}

.contact-form {
    width: 60%;
    margin: auto;
    background: whitesmoke;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid white;
}

.contact-form label {
    display: block;
     text-align: left; 
    font-weight: bold;
    padding: 10px;
}

.contact-form input{
     width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
   border: 2px solid black 
}
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
   border: 2px solid black ;
}

.contact-form button {
    background: #333;
    color: white;
   
    padding: 12px 20px;
    border-radius: 8px;
   
 
}


.contact-form button:hover {
   background-color: ghostwhite;
   color: black;
    
}
.footer {
  
    color: red;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
}

.footer p {
    margin: 5px 0;
}

.footer .social-links a {
    color: red;
    font-weight: bold;
}
