#bio-card {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    padding: 30px;
    margin: 80px;
    margin-right: 500PX;
}

.name {
    color: navy;
    font-size: 2em;
    font-weight: bold;
    border: 2px solid yellow;
    padding-left: 80px;
  text-align: center;

}

.description {
    font-size: 14px;
    color: #444;
    font-family: Georgia, 'Times New Roman', Times, serif;



}

.contactinfo {
    background-color: lightgreen;
    font-weight: 500;

}

.information {
    color: red;
}

.parent{
    background-color: #444;
    height: 100px;
display: flex;
justify-content: space-between  ;
box-shadow: 10px 10px 10px 10px red;
}
.child{
    background-color: blue;
box-shadow: 10px 10px 10px 10px yellow;

}
body{
    background-color: aqua;
}