body{
    background-color:  #3b82f6  ;
    /* background-image: url(./school\ logo\ 3.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.top{
     /* text-align: center; */
    font: size 100px; 
    font-weight: bolder;
    /* padding: 20px; */
   color: #0f172a;
}
.top img{
    text-align: center;
    justify-content: center;
    margin-left: 500px;
    padding: 10px;
}
.moto{
    text-align: center;
    font-weight: bold;
    /* padding-bottom: 150px; */
}
.about{
    text-align: center;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
}