.logo{
    color: red;
    background-image: ;
    text-align: center;
    text-decoration: underline;
}
.logo:hover{
    background-color: black;
    color: aliceblue;
}
nav{
    align-items: center;
    padding: 10px;
    background: #333;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}
.nav-links li{
position: relative;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.nav-links li a :hover{
    background: #444;
}
body{
    /* background-color: blue; */
    background-image: url(./city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
.skills-section {
    padding: 40px;
    background: black;
    text-align: center;
}

.skills-section h2 {
    margin-bottom: 20px;
    color: aliceblue;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.skill-box {
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.skill-box:hover {
    background: #333;
    color: white;
}
.projects-section {
    padding: 40px;
    background: black;
    text-align: center;
}

.projects-section h2 {
    margin-bottom: 20px;
    color: white;
}


.projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.project-card {
    background: white;
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid white;
   
}

.project-card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
   
}


.project-card:hover {
   
    background-color: #444;
    color: white;
    
}
.footer {
  
    color: red;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
}

.footer p {
    margin: 5px 0;
}
.footer .social-links a {
    color: red;
    font-weight: bold;
}

