body{
    background-color: lightblue;
}
#main-title{
    font-size: 32px;
    color: darkblue;
    font-weight: bold;
    text-align: center;
}
.card{
    background-color: aqua;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
}
.student{
    color: darkred;
    font-weight: bold;
   border: 3px solid lightyellow;
    width: 200px;
    padding: 10px;
    margin: 20px;
    
}
.description{
    font-size: 16px;
    color: blue;
    padding: 10px;
    margin-right: 2px;
}
.card2{
    background-color: yellowgreen;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
}
.caleb{
    
    color: darkblue;
    font-weight: bold;
   border: 3px solid aqua;
    width: 200px;
    padding: 10px;
    margin: 20px
}
.description2{
     font-size: 16px;
    color: red;
    padding: 10px;
    margin-right: 2px
}