
.animation {
    transition: background-color  0.4s ease, color 0.4s ease ;
}


.page {
    background: #ffffff;
    color: #000000;
}
#themeSwitch {
    width: 55px;
    height: 28px;
    appearance: none;
    cursor: pointer;

    border-radius: 30px;
    background: #ddd;
    position: relative;
    outline: none;
    border: 2px solid #bbb;

    transition: background 0.3s ease;
}
#themeSwitch::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background: white;
    left: 2px;
    top: 0px;

    transition: transform 0.3s ease;
}#themeSwitch:checked {
    background: #000;
}
#themeSwitch:checked ~ .page {
    background: #111;
    color: white;
}
#themeSwitch:checked ~ .page .card {
    background: #1d1d1d;
    color: white;
    border-color: #333;
}
#themeSwitch:checked ~ .page .list-group-item {
    background: #1d1d1d;
    color: white;
    border-color: #333;
}
#themeSwitch:checked ~ .page form {
    background: #1d1d1d;
    color: white;
    border-color: #333;
}
#themeSwitch:checked ~ .page input,
#themeSwitch:checked ~ .page textarea {
    background: #222;
    color: #fff;
    border-color: #444;
}
#themeSwitch:checked ~ .page .navbar {
    background: #000 !important;
}
#themeSwitch:checked ~ .page footer {
    background: #000 !important;
    color: #fff !important;
}
#themeSwitch:checked ~ .page .alert {
    background: #222;
    color: #fff;
    border-color: #444;
}

.theme-toggle {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme-toggle input {
    display: none;
}

.toggle-label {
    width: 50px;
    height: 26px;
    background: #ccc;
    border-radius: 50px;
    position: relative;
    display: block;
    cursor: pointer;
}

.toggle-label::after {
    content: "";
    width: 22px;
    height: 22px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.4s ease;
}


#themeSwitch:checked + .toggle-label::after {
    transform: translateX(24px);
}


.hero-section {
    background:purple;
    padding: 80px 20px;
 }  



